<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 02</title>
</head>
<body>
    <div id="app">
        <h1>{{ titulo }}</h1>
        <label for="">Nome:</label>
        <input type="text" v-model="nome" placeholder="Digite seu nome"> <br>

        <br><br>
        <label for="">Celular:</label>
        <input type="text" v-model="celular" placeholder="Digite seu celular"> <br>
        <br><br>

        <label for="">Email:</label>
        <input type="text" v-model="email" placeholder="Digite seu email"> <br>
        <br><br>

        <label for="">Deseja receber nossas novidades?</label>
        <input type="radio" v-model="newsletter" value="sim"> Sim
        <input type="radio" v-model="newsletter" value="nao"> Não
        <br><br>

        <label for="">Interesses:</label>
        <input type="checkbox" v-model="interesses" value="tecnologia"> Tecnologia
        <input type="checkbox" v-model="interesses" value="saude"> Saúde
        <input type="checkbox" v-model="interesses" value="esporte"> Esporte
        <input type="checkbox" v-model="interesses" value="ciencia"> Ciência
        <br><br>

        <label for="">Como nos conheceu?</label>
        <select v-model="comoConheceu">
            <option value="google">Google</option>
            <option value="facebook">Facebook</option>
            <option value="instagram">Instagram</option>
            <option value="twitter">Twitter</option>
            <option value="indicacao">Indicação</option>
            <option value="outro">Outro</option>
        </select>
        <br><br>
        <label for="">Concordo com os termos de uso</label>
        <input type="checkbox" value="sim" v-model="concordo">
        <br><br>

        <button>ENVIAR</button>
        <hr>


        <p>Nome: </p>{{ nome }}
        <p>Celular: </p>{{ celular }}
        <p>E-mail</p>{{ email }}
        <p>Deseja receber novidades?</p>{{ newsletter }}
        <p>Seus interesses: </p><div v-if="interesses.length > 0">
            {{ interesses }}
        </div>
        <p>Como conheceu: </p>{{ comoConheceu }}
        <p>Termos de uso: </p>{{ concordo }}

    </div>
    
    <script src="js/vue.js"></script>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                titulo: 'Vue 02 - V-model',
                nome: "",
                celular: "",
                email: "",
                newsletter: "",
                interesses: [],
                comoConheceu: "",
                concordo: ""
            }
        });
    </script>
</body>
</html>